[submodule "etHANol"]
	path = etHANol
	url = https://github.com/sifiro/etHANol.git
[submodule "han-autoxml-template"]
	path = han-autoxml-template
	url = https://github.com/PS3Xploit/han-autoxml-template.git
